<!DOCTYPE html>
<html>
<head>
    <title>Ilemo POS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="_assests/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
<!-- do not change this script order -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/semantic.min.js"></script>
<script type="text/javascript" src="js/delay.js"></script>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" style="color:#FFFFFF">
                    ILemo Point Of Sales
                </a>
            </li>
            <li id="loadHome">
                <a href="#home"><img src="./images/dashboard.png" alt="" width="30">&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</a>
                <hr/>
            </li>
            <li id="loadCustomer">
                <a href="#customer"><img src="./images/customer.png" alt="" width="30" >&nbsp;&nbsp;&nbsp;&nbsp;Customer</a>
                <hr/>
            </li>
            <li id="loadItem">
                <a href="#item"><img src="./images/item.png" alt="" width="30">&nbsp;&nbsp;&nbsp;&nbsp;Item</a>
                <hr/>
            </li>
            <li id="loadOrder">
                <a href="#order"><img src="./images/order.png" alt="" width="30">&nbsp;&nbsp;&nbsp;&nbsp;Order</a>
                <hr/>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    
        <!-- Page Content -->
        <div class="container" style="margin-top: 10px;">
            <div class="row">

                <div class="col-md-2">

                </div>
                <div class="col-md-7 col-sm-6 col-md-offset-2 ui image text-center" style="width: 400px;height: 200px;top: 60px;">
                    <!--img src="./images/logo3.png" alt="" class="ui fluid image"-->
                </div>
            </div>
        </div>
        <!--HOME PAGE DETAILS-->
        <div>
            <div class="row text-center" style="margin-top: 70px;background-color: #3D3E3F">
                <div class="col-md-12">
                    <h2 id="head">Point Of Sales...!</h2>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <!-- /content-wrap -->
    </section>



    <div class="container" style="background-color: #3c5876;" id="detaildiv" >
        <div class="row" id="cardsec1" style="padding: 60px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div>
                        <div class="text-center" style="background-color: #0e8c8c;">
                            <!--<img src="./images/b-dashboard.png" alt="">-->
                            <h4>DashBoard</h4>
                            <hr/>
                        </div>
                        <div>
                            <p class="detail">
                                Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div>
                        <div class="text-center"  style="background-color: #e4b9c0">
                            <!--<img src="./images/b-customer.png" alt="">-->
                            <h4>Customer</h4>
                            <hr/>
                        </div>
                        <div>
                            <p class="detail">
                                Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="cardsec2" style="padding: 60px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div>
                        <div class="text-center" style="background-color: #2e6da4;">
                            <!--<img src="./images/b-item.png" alt="">-->
                            <h4>Item</h4>
                            <hr/>
                        </div>
                        <div>
                            <p class="detail">
                                Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div>
                        <div class="text-center" style="background-color: #cf590c">
                            <!--<img src="./images/b-order.png" alt="">-->
                            <h4>Order</h4>
                            <hr/>
                        </div>
                        <div>
                            <p class="detail">
                                Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---Home Detail Dive/-->
    <!---Customer--->
    <div id="customer">
    <div class="container panel panel-default" style="background-color: rgba(255,84,12,0.96)">
        <div class="row" >
            <div class="text-center">
                <img src="./images/b-customer.png" alt="">
                <h3 style="color: #FFFFFF">C u s t o m e r</h3>
            </div>
        </div>
    </div>
    <div class="container panel panel-default" style="background-color: #dcddde;">
        <div class="row">
            <div class="ui icon input col-md-4">
                <input type="text" placeholder="Search..." style="height: 40px;margin: 20px;">
            </div>
            <div class="col-md-offset-4 col-md-4">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#customerSearchModel" style="background-color:#0026ff;color:#ffffff;margin: 10px;">Add New Customer</button>
            </div>
        </div>
    </div>
    <!--Model Content-->
    <div id="customerSearchModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--MODEL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Register On</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="images/logo3.png" alt="Alternate Text" style="height:50px;width:100px;" />
                        </div>
                        <div class="col-md-4">
                            <img src="images/new-customer.png" alt="Alternate Text"  />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="ui form">
                        <div class="field">
                            <h4>First Name</h4>
                            <input type="text" id="first-name" placeholder="First Name" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>Address</h4>
                            <input type="text" id="address" placeholder="Address" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>NIC</h4>
                            <input type="text" id="nic" placeholder="NIC" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>Telephone</h4>
                            <input type="text" id="telephone" placeholder="Telephone" style="height: 40px;">
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I agree to the Terms and Conditions</label>
                            </div>
                        </div>
                        <button class="ui button" id="addItemBtn" type="button" style="height: 40px;">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="container panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" id="custTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>NIC</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="tBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--Customer/-->
    <!---Order--->
    <div id="order">
    <div class="container panel panel-default" style="background-color: #00B5AD" >
        <div class="row" >
            <div class="text-center">
                <img src="./images/b-order.png" alt="">
                <h3 style="color: #FFFFFF;">O r d e r</h3>
            </div>
        </div>
    </div>
    <div class="container panel panel-default">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="padding: 20px;">Place New Order</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 panel panel-default">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-12 text-center" style="background-color: #1e70bf;">
                            <h3 style="color: #ffffff">Search Item</h3>
                        </div>
                    </div>
                </div>
                <form class="ui form">
                    <div class="field">
                        <h5>Item Id</h5>
                        <select name="1" class="ui dropdown" id="5">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="field">
                        <h5>Item Name</h5>
                        <input type="text" name="item-name" placeholder="Item Name" style="height: 40px;">
                    </div>
                    <div class="field">
                        <h5>Batch Number</h5>
                        <input type="text" name="batch-number" placeholder="Batch Number" style="height: 40px;">
                    </div>
                    <div class="field">
                        <h5>Unit Price</h5>
                        <input type="text" name="unit-price" placeholder="Unit Price" style="height: 40px;">
                    </div>
                    <div class="field">
                        <h5>Item Count</h5>
                        <input type="text" name="item-count" placeholder="Item Count" style="height: 40px;">
                    </div>
                </form>
            </div>
            <div class="col-md-6 panel panel-default">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-12 text-center" style="background-color: #b92c28;">
                            <h3 style="color: #ffffff">Search Customer</h3>
                        </div>
                    </div>
                </div>
                    <form class="ui form">
                        <div class="field">
                            <h5>Item Id</h5>
                            <select name="1" class="ui dropdown" id="3">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <div class="field">
                            <h5>First Name</h5>
                            <input type="text" name="first-name" placeholder="First Name" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h5>Address</h5>
                            <input type="text" name="address" placeholder="Address" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h5>NIC</h5>
                            <input type="text" name="nic" placeholder="NIC" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h5>Telephone</h5>
                            <input type="text" name="telephone" placeholder="Telephone" style="height: 40px;">
                        </div>
                </form>
            </div>
        </div>
        <div class="row text-center panel-default panel" style="background-color: #22be34;margin-bottom: 30px;">
            <h3 style="color: #ffffff">NEW ORDER</h3>
        </div>
        <div class="row">
            <form class="ui form">
                <div class="field">
                    <h5>Customer Id</h5>
                    <select name="1" class="ui dropdown" id="1">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <div class="field">
                    <h5>Item Id</h5>
                    <select name="1" class="ui dropdown" id="2">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <div class="field">
                    <h5>Item Count</h5>
                    <input type="text" name="Item-count2" placeholder="Item Count" style="height: 40px;">
                </div>
                <div class="field">
                    <h5>Unit Price</h5>
                    <input type="text" name="unit-price2" placeholder="Unit Price" style="height: 40px;">
                </div>
                <div class="field">
                    <h5>Total</h5>
                    <input type="text" name="total" placeholder="Total" style="height: 40px;">
                </div>
                <div class="field">
                    <button class="btn-default btn" style="background-color: #0d71bb;color: #ffffff;width: 50%;">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container panel panel-default" style="background-color: #dcddde;">
        <div class="row">
            <div class="ui icon input col-md-4">
                <input type="text" placeholder="Search..." style="height: 40px;margin: 20px;">
            </div>
        </div>
    </div>
    <div class="container panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Batch Number</th>
                        <th>Unit Price</th>
                        <th>Item Count</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Salt</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Dal</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Rice</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Pepper</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Chilli</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--Order/-->
    <!---Item--->
    <div id="item">
    <div class="container panel panel-default" style="background-color: rgba(0,10,255,0.96)" >
        <div class="row" >
            <div class="text-center">
                <img src="./images/b-item.png" alt="">
                <h3 style="color: #FFFFFF">I t e m</h3>
            </div>
        </div>
    </div>
    <div class="container panel panel-default" style="background-color: #dcddde;">
        <div class="row">
            <div class="ui icon input col-md-4">
                <input type="text" placeholder="Search..." style="height: 40px;margin: 20px;">
            </div>
            <div class="col-md-offset-4 col-md-4">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#itemSearchModel" style="background-color:#0026ff;color:#ffffff;margin: 10px;">Add New Item</button>
            </div>
        </div>
    </div>
    <!--Model Content-->
    <div id="itemSearchModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--MODEL CONTENT-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>New On</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="images/logo3.png" alt="Alternate Text" style="height:50px;width:100px;" />
                        </div>
                        <div class="col-md-4">
                            <img src="images/new-item.png" alt="Alternate Text"  />
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="ui form">
                        <div class="field">
                            <h4>Item Name</h4>
                            <input type="text" name="item-name" placeholder="Item Name" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>Batch Number</h4>
                            <input type="text" name="batch-number" placeholder="Batch Number" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>Unit Price</h4>
                            <input type="text" name="unit-price" placeholder="Unit Price" style="height: 40px;">
                        </div>
                        <div class="field">
                            <h4>Item Count</h4>
                            <input type="text" name="item-count" placeholder="Item Count" style="height: 40px;">
                        </div>
                        <button class="ui button" type="submit" style="height: 40px;">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="container panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Batch Number</th>
                        <th>Unit Price</th>
                        <th>Item Count</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Salt</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Dal</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Rice</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Pepper</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    <tr>
                        <th scope="row">Chilli</th>
                        <td>1</td>
                        <td>100.00</td>
                        <td>10000</td>
                        <td><input type="button" value="Update"><input type="button" value="Delete" style="background-color:#b92c28;color: #FFFFFF; "></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--Item/-->
    <div id="footer">
        <div class="container">
            <div class="text-center" style="margin-bottom: 20px; color: #fefaff">
                AllRight Reserved Ilemo Corporations
            </div>
            <div class="row">
                <div class="col-md-6">
                        <div>
                            <h3 style="color: #fefaff;">About</h3>
                            <hr>
                        </div>
                        <div style="border-right: 2px dashed;">
                            <h5 style="color: #fefaff">Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</h5>
                        </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h3 style="color: #fefaff;">Social</h3>
                        <hr>
                    </div>
                    <div>
                        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                        <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Java Script
   ================================================== -->
<script src="js/jquery.js"></script>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/Model/model.js"></script>
<script type="text/javascript" src="js/DTO/customerDTO"></script>
<script type="text/javascript" src="js/Controller/customerController.js"></script>
<script type="text/javascript" src="js/Controller/dashboardController.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>